---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import '../style/style.css'
---

<Layout title="Welcome to Astro.">
	<main>
		<script is:inline src="../src/scripts/script.js">
		</script>
		<div class="tv">
			<div id="terminal"></div>
			<div class="flicker"></div>
			<div class="scanlines"></div>
			<div class="noise"></div>
		</div>
	</main>
</Layout>
